.tweetBox {
  padding-bottom: 10px;
  padding-right: 10px;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  background-color: rgb(243, 248, 246);
}

.tweetBox__input {
  padding: 20px;
  display: flex;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweetBox__tweetButton {
  background-color: rgb(130, 131, 54);
  border: none !important;
  color: black !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 200px;
  min-height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}

.Scroll {
  flex: 1;
  background: #aaa;
  overflow-y: scroll;
  max-width: fit-content;
  max-height: 300px;
}
